@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a "Cruz Procedimentos"</h1>
    <p><a href=""></a></p>
    <img class="fundo" src="Img/_Pngtree_medical_health_logo_4135887-removebg-preview.png" />
</div>
